<div style="display: flex; justify-content: space-between; align-items: center;">
  <span>
    {{- range .Ancestors.Reverse }}
      {{- if .File }}
        {{- if .IsHome }}
          <a href="{{ .RelPermalink }}">Home</a>
        {{- else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end }}
      {{- else }}
        <span>{{ .Title }}</span>
      {{- end }}
      /
    {{- end }}
    <span>{{ .Title }}</span>
  </span> 
  {{ partial "theme_button.html" }}
</div>
<hr />
